body {
	background-image: url('../media/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0);
}
.cover {
    font-family: "Nunito", Georgia, Serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
h4 {
    text-align: center;
}
div .city {
    margin: 5px 5px;
    color: rgb(0, 0, 0);

    font-size: 3rem;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div .button {
    margin: 5px 5px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
.widgets {
    display: flex;
    flex-flow: row wrap;
}
button, select {
    font-family: "Nunito", Georgia, Serif;
    border-style: none;
    border-radius: 9px;

    margin: 10px 10px;
    padding: 10px 15px;
    background-color: rgba(49,214, 167, 1);
    font-size: 1.2em;
    transition: 0.3s;
  }
button:hover, select:hover {
    box-shadow: 0px 2px 8px 2px rgba(78, 87, 116, 0.3);
    transform: scale(1.05);
}
.current {
    display: flex;
    flex-flow: row wrap;
    padding: 5em 0;
}
.weather-city {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: capitalize;
}
.desc-main {
    font-size: 1.75rem;
    font-weight: 300;
}
.feels-like {
    font-weight: 300;
}
.weather-right {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 0 5rem;
}
.weather-left {
    padding: 0 5rem;
}
.temp-main {
    font-size: 6rem;
    font-weight: 100;
}
.wind {
    font-size: 1.75rem;
    font-weight: 600;
}